@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gellix';
  src: url('/fonts/Gellix-Thin.woff2') format('woff2');
  font-weight: 200; /* Extra Light */
  font-style: normal;
  font-display: swap; /* Optimized font loading */
}

@font-face {
  font-family: 'Gellix';
  src: url('/fonts/Gellix-Light.woff2') format('woff2');
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap; /* Optimized font loading */
}

@font-face {
  font-family: 'Gellix';
  src: url('/fonts/Gellix-Regular.woff2') format('woff2');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap; /* Optimized font loading */
}

@font-face {
  font-family: 'Gellix';
  src: url('/fonts/Gellix-Medium.woff2') format('woff2');
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap; /* Optimized font loading */
}

@font-face {
  font-family: 'Gellix';
  src: url('/fonts/Gellix-SemiBold.woff2') format('woff2');
  font-weight: 600; /* Semi Bold */
  font-style: normal;
  font-display: swap; /* Optimized font loading */
}

@font-face {
  font-family: 'Gellix';
  src: url('/fonts/Gellix-Bold.woff2') format('woff2');
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap; /* Optimized font loading */
}

@font-face {
  font-family: 'Gellix';
  src: url('/fonts/Gellix-ExtraBold.woff2') format('woff2');
  font-weight: 800; /* Extra Bold */
  font-style: normal;
  font-display: swap; /* Optimized font loading */
}

@font-face {
  font-family: 'Gellix';
  src: url('/fonts/Gellix-Black.woff2') format('woff2');
  font-weight: 900; /* Black */
  font-style: normal;
  font-display: swap; /* Optimized font loading */
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Gellix', sans-serif;
}
